body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrmQ0D4yTycFaiYAhwZ4zGvG-oNdRBPUtLxU_t60tZFbcLSXZV");
  background-size: cover;
  background-attachment: fixed;
}

.check{
	text-align:center; 
	font-size: 60px;
}